@model IEnumerable<AllDiscountViewModel>
@{
    ViewBag.Title = "Промоции";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var a in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@a.Name</h5>
                <img class="card-img-top" src=@a.ImageUrl alt="Ad Image" id="imageurl">
                <p class="mb-0"><span class="fw-bold">Стара Цена: </span>@a.NewPrice лв.</p>
                <p class="mb-0"><span class="fw-bold">Намалена Цена: </span>@a.OldPrice лв.</p>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Admin" asp-action="EditPromocii" asp-route-id="@a.Id" style="background-color: black; color: #ffffff;" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit the Discount</a>
            }
            else
            {
                <form class="input-group-sm" asp-controller="Furniture" asp-action="AddDiscountToCart" asp-route-id="@a.Id">
                    <input type="submit" value="Добавяне в количка" style="background-color: black; color: #ffffff;" class="fs-6 btn mb-3 w-100 p-3 fw-bold" />
                </form>
                <form class="input-group-sm" asp-controller="Furniture" asp-action="DetailsDiscount" asp-route-id="@a.Id">
                    <input type="submit" value="Детайли" style="background-color: black; color: #ffffff;" class="fs-6 btn mb-3 w-100 p-3 fw-bold" />
                </form>
            }

        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

